/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ccc;
}
/* Header */
header {
    text-align: center;
    padding: 3rem;
    padding-bottom: 2rem;
    background: #000000;
    color: #ccc;
    font-family: "TH Sarabun New";
    font-size: 25px;
}



.divcontact{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgreen;
}
.yt{
    max-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.github{
    max-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 75px;
    padding-right: 75px;
}
.email{
    max-width: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
}


/* The popup message */
.portable-popup-message {
    visibility: hidden;
    opacity: 0;
    width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -120px;
    transition: opacity 0.3s;
}

/* Simple arrow for the popup */
.portable-popup-message::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -20px;
    border-width: 15px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.email:hover .portable-popup-message {
    visibility: visible;
    opacity: 1;
}






body {
    font-family: "TH Sarabun New";
    font-size: 28px;
    line-height: 1.2;
    background: #1f1f1f;
    color: #ccc;
}

.inabout{
    background: #1f1f1f;
    padding-left: 40px;
    max-width: 700px;
}

.inbody{
    background: #1f1f1f;
    padding-left: 80px;
    max-width: 700px;
}

.about{
    max-width: 800px;
    margin: auto;
}
.personalskill{
    padding-top: 3rem;
    max-width: 800px;
    margin: auto;
}


h2 { /*the is every section word*/
    color: #ccc;
    font-family: "TH Sarabun New";
}

h3{
    color: #ccc;
    padding-left: 40px;
    font-family: "TH Sarabun New";
}



/* Footer */
footer {
    font-family: "TH Sarabun New";
    font-size: 50;
    text-align: center;
    padding: 1rem;
    background: #000000;
    color: #fff;
    margin-top: 10rem;
	display: flex;
}
.licensetext {
	margin: auto;
}

.languages_switch2 {
	color: red;
}

.switch {
	font-family: Arial;
	font-size: 16px;
	font-weight: 600;
	position: relative;
	display: inline-block;
	width: 70px;
	height: 40px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
	position: absolute;
	content: "TH";
	color: black;
	text-align:center;
	height: 32px;
	width: 32px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	
	display: flex;
	justify-content: center; /* Horizontally centers content */
	align-items: center; 	/* Vertically centers content */
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
  content: "EN";
}

/* Rounded sliders */
.slider.round {
  border-radius: 40px;
}

.slider.round:before {
    border-radius: 50%;
}





.darking {
    font-family: Arial;
	font-size: 16px;
	font-weight: 600;
	position: relative;
	display: inline-block;
	width: 70px;
	height: 40px;
}

.darking input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slidark {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: darkslateblue;
    -webkit-transition: .4s;
    transition: .4s;
}

.slidark:before {
	position: absolute;
	content: "";
	text-align:center;
	height: 32px;
	width: 32px;
	left: 4px;
	bottom: 4px;
	background: white;
	-webkit-transition: .4s;
	transition: .4s;
	
	display: flex;
	justify-content: center; /* Horizontally centers content */
	align-items: center; 	/* Vertically centers content */
}

input:checked + .slidark:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
  content: "";
  background: orange;
}

input:checked + .slidark {
  background-color: skyblue;
}

.slidark.round {
  border-radius: 40px;
}

.slidark.round:before {
  border-radius: 50%;
  
}
